<%- include("./Partials/header"); -%>

    <h1>Compose</h1>

    <form action="/compose" method="post">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="postTitle">
            <button type="button" name="button" class="btn btn-primary">Publish</button>
        </div>
        <div class="form-group">
            <label for="post">Post</label>
            <textarea name="postBody" id="" cols="30" rows="10"></textarea>
        </div>

    </form>


    <%- include("./Partials/footer"); -%>